/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,700i,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,800i&display=swap');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(../css/normalize.css);
/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
}

#whatsapp {
     position: fixed;
     bottom: 20px;
     right:20px;
  }
 
    /*btn WhatsApp*/
 
    .btn-whatsapp {
     display: block;
     width: 80px;
     height: 140px;
     position: fixed;
     right: 0px;
     bottom: 0px;
     border-radius: 50%;
     line-height: 80px;
     text-align: center;
     z-index: 99;
     color: #2a276a;
   }
   
   .btn-whatsapp img{
     height: 45px;
     border-radius: 50%;
     transition-duration: 299ms
   }
   
   .btn-whatsapp img:hover{
     height: 65px;
     border-radius: 50%;
     transition-duration: 199ms
   }

html {
     scroll-behavior: smooth;
}



a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 18px;
}

h2 {
     font-size: 28px;
}

h3 {
     font-size: 18px;
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none !important;
     opacity: 1
}

.text-deration {
     border-bottom: 1px solid #0f0;
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 0px;
     font-weight: 500;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

:focus {
     outline: 0;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.progress-bar {
     background-color: rgb(22, 156, 22);
}

.progress {
     margin-top: 15px;
}


.texto-200 {
     font-style: oblique;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}


/**-- heading section --**/


/*---------------------------- preloader area ----------------------------*/

.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #ffffff;
     width: 100%;
     height: 100%;
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader img {
     width: 280px;
}


/*-- header area --*/
.img__sorteo{
     border-radius: 5%;
     -webkit-box-shadow: 1px 3px 4px 5px rgba(0, 255, 0, 0.75);
     -moz-box-shadow: 1px 5px 10px 6px rgba(0, 255, 0, 0.75);
     box-shadow: 1px 3px 4px 5px rgba(0, 255, 0, 0.75);
}

.contenedor__img-sorteo {
     position: relative;
   }
   
   .numeros-premiados {
     position: absolute;
     bottom: 10px;
     left: 10px;
     background-color: rgba(255, 255, 255, 0.692);
     backdrop-filter: blur(3px);
     padding: 5px;
     border-radius: 5px;
     max-width: 95%;
   }
   
   .numeros-premiados h4 {
     margin-bottom: 5px;
   }
   
   .numeros-premiados ul {
     list-style: none;
     padding: 0;
     margin: 0;
   }
   
   .numeros-premiados ul li {
     margin-bottom: 5px;
   }
   


/*-- sidebar  navigation--*/

.navigation.navbar {
     float: right;
     padding-top: 18px !important;
     padding: 0;
}

.navigation.navbar-dark .navbar-nav .nav-link {
     padding: 0 15px;
     color: #0F0;
     font-size: 17px;
     line-height: 20px;
     font-weight: 500;
}

.navigation.navbar-dark .navbar-nav .nav-link:focus,
.navigation.navbar-dark .navbar-nav .nav-link:hover {
     color: #00FF00;
}

.navigation.navbar-dark .navbar-nav .active>.nav-link,
.navigation.navbar-dark .navbar-nav .nav-link.active,
.navigation.navbar-dark .navbar-nav .nav-link.show,
.navigation.navbar-dark .navbar-nav .show>.nav-link {
     color: #f0efeb;
}

.navbar-expand-md .navbar-nav {
     padding-right: 10px;
}


/*-- marker-end sidebar  navigation--*/

.right_button {
     float: right;
     padding-top: 13px;
}

.right_button .login_btn {
     color: #0F0;
     padding-right: 80px;
}

.right_button a {
     color: #fff;
     font-size: 17px;
     font-weight: 500;
}

.header {
     text-transform: capitalize;
     width: 100%;
     padding: 15px 15px;
     background-color: #000000;
     position: absolute;
     z-index: 9;
     position: fixed;
}

.carousel-item{
     margin-top: 10px;
}

.banner_main {
     height: auto;
     padding: 127px 0px 0px 0px;
     background-size: 100% 100%;
     background-repeat: no-repeat;
     overflow: hidden;
     max-width: 100%;
}

.moto {
     position: relative;
}

.btn-formulario button {
     bottom: 17%;
     position: absolute;
}

.text-bg {
     text-align: left;
}

.text-bg h1 {
     color: #fff;
     font-size: 40px;
     line-height: 75px;
     padding-bottom: 50px;
     font-weight: bold;
     text-transform: uppercase;
     padding-top: 22px;
}


.text-bg p {
     color: #fff;
     line-height: 20px;
     font-size: 18px;
     margin-bottom: 50px;
}
p.text-premiados{
     color: #000;
     line-height: 25px;
     margin-bottom: 10px;
     font-size: 17px;
     margin: 0px !important;

}
.read_more {
     position: relative;
     padding: 2px 65px;
     border-radius: 20px;
     font-weight: bold;
     font-size: 15px;
     background-color: #00FF00;
     color: #ffffff;
     overflow: hidden;
     transition: color 0.3s ease, background-color 0.3s ease;
     z-index: 1;
}

span.fondo-numero-premiado{
     font-size: inherit;
     padding: auto;
}

.read_more::before {
     content: '';
     position: absolute;
     top: 100%;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #FFA500;
     transition: top 0.3s ease;
     z-index: -1;
}

.read_more:hover::before {
     top: 0;
}

.read_more:hover {
     color: #000000;
}

.paqute{
     background-color: #FFA500;
     border-radius: 50%;
     font-weight: 600;
     font-size: 16px;
     color:#000;
     padding:3px;
     font-style: oblique;
     margin: 0 5px;
}

.parrafo-sobre-imagen {
     position: absolute;
     top: 50%;
     left: 60%;
     transform: translate(-50%, -50%);
     color: rgb(0, 0, 0); /* Color del texto para que sea legible */
     text-align: center; /* Alineación del texto */
     font-weight: 700;
   }

.parrafo-sobre-imagen-footer {
     position: absolute;
     top: 50%;
     left: 70%;
     transform: translate(-50%, -50%);
     color: rgb(0, 0, 0); /* Color del texto para que sea legible */
     text-align: center; /* Alineación del texto */
     font-weight: 700;
     font-size: large;
}   



#banner1 .carousel-caption {
     position: inherit;
     padding: 0;
}

#banner1 .carousel-control-prev,
#banner1 .carousel-control-next {
     width: 60px;
     height: 60px;
     opacity: 1;
     font-size: 22px;
     color: #fff;
     border-radius: 60px;
     top: 100%;
     background: #0F0;
}

#banner1 .carousel-control-prev:hover,
#banner1 .carousel-control-next:hover,
#banner1 .carousel-control-prev:focus,
#banner1 .carousel-control-next:focus {
     color: #f6f8f7;
     background-color: #00FF00;
}

#banner1 a.carousel-control-prev {
     position: absolute;
     left: inherit;
     right: 90px;
}

#banner1 a.carousel-control-next {
     position: absolute;
     right: 20px;
     bottom: 10px;
}

#banner1 .carousel-indicators {
     display: none;
}

.input-group-text {
     color: black !important;

}
.form-control::placeholder {
     color: rgb(255, 255, 255); /* Color blanco para el placeholder */
   }


.custom-select:focus {
     border: 1px solid #0F0 !important;
     text-transform: capitalize
}


/** end banner section **/

.titlepage h2 {
     font-size: 40px;
     color: #000000;
     line-height: 45px;
     font-weight: bold;
     padding: 0;
}

.titlepage h2 img {
     padding-right: 10px;
}

.d_flex {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}

.read_more {
     font-size: 17px;
     background-color: #fff;
     color: #000;
     padding: 5px 0px;
     width: 100%;
     max-width: 170px;
     text-align: center;
     display: inline-block;
     transition: ease-in all 0.2s;
     font-weight: 500;
     border-radius: 50px;
     text-transform: uppercase;
}


.modal-body {
     background-color: #000;
     color: #FFF;
}

input.form-control {
     background-color: #000 !important;
     color: #FFF !important;
}

.custom-select {
     background-color: #000;
     color: #FFF;
}

/* modals */
input.form-control:focus {
     border: 1px solid #0F0 !important;
     text-transform: capitalize;
}

.btn-generador {
     background-color: #0F0;
     color: #000;
}

.input-total-numeros {
     background-color: #000;
}

.modal-content {
     background-attachment: none;
     backdrop-filter: blur(10px) !important;
}

.modal-footer {
     background-color: #000;
}

/** service section **/

.service {
     padding-top: 90px;
     background: url(../images/service_bg.jpg);
     background-size: 100% 100%;
     background-repeat: no-repeat;
}

.service .titlepage {
     padding-bottom: 60px;
}

.service .titlepage p {
     color: #2e2f2f;
     font-size: 17px;
     line-height: 30px;
     font-weight: 400;
     padding-top: 20px;
     padding-left: 36px;
}

.appp_l {
     padding-left: 34px;
}

.yellow {
     color: #0F0;
}

.service .service_box {
     margin-bottom: 75px;
}

.service .service_box i img {
     float: left;
     padding-right: 10px;
}

.service .service_text h3 {
     color: #000000;
     font-size: 25px;
     line-height: 30px;
     font-weight: bold;
     padding-bottom: 40px;
}

.service .service_text p {
     color: #000000;
     font-size: 17px;
     line-height: 32px;
     font-weight: 400;
     display: flex;
     flex-wrap: wrap;
}

.service .read_more {
     margin: 0 auto;
     display: block;
     border: #0f0 solid;
     padding: 8px 0;
     font-size: 16px;
     color: #0f0;
}

.service .read_more:hover {
     background-color: #0F0;
}

.fixed-size-image {
     width: 300px;
     /* Ajusta el ancho según tus necesidades */
     height: 500px;
     /* Ajusta la altura según tus necesidades */
     object-fit: contain;
     /* Para ajustar completamente sin recortar */
}



.carousel-control-next-icon {
     background-image: url(../images/svg/next.svg);
}

.carousel-control-prev-icon {
     background-image: url(../images/svg/prev.svg);
}

#controls-next {
     height: 25% !important;
     width: 25% !important;
}

#controls-prev {
     height: 25% !important;
     width: 25% !important;
}

/** end service section **/

.read_premios {
     background-color: #0F0;
}

.carousel-inner {
     position: relative;
}

.card-img-top {
     width: 15%;
}

.div#headingTwo{
     margin-bottom: 0px !important;
}

.card-dudas{
     background-color: #fff !important;
}

.borde {
     text-shadow: 0 1px rgb(255, 255, 255), -1px 0 #0f0, -1px 2px #0f0, -2px 1px #0f0, -2px 3px #0f0, -3px 2px #0f0, -3px 4px #0f0, -4px 3px #cdd2d5, -4px 5px #0f0, -5px 4px #0f0, -5px 6px #0f0, -6px 5px #0f0, -6px 7px #0f0, -7px 6px #0f0, -7px 8px #0f0, -8px 7px #0f0;
}

.card {
     border: none;
}

.input-manual{
     font-size: 40px;
     color: #00FF00;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
     max-width: 80%;
     letter-spacing: 2px;
     font-weight: bold;
     border: none;
     text-align: center;
     padding-bottom: 16px !important;
}

/** about section **/

.about {
     padding: 90px 0 0px 0;
     background-color: #ffffff;
}

.about .about_img figure {
     margin: 0;
}

.about .titlepage {
     text-align: center;
}

.about .titlepage p {
     margin-top: 30px;
     color: #2a2a2c;
     font-size: 17px;
     line-height: 32px;
     font-weight: 400;
     margin-bottom: 35px;
}



/** end about section **/


/** Our  project section **/

.project {
     background: #0f0;
     margin-top: 90px;
     padding: 90px 0 90px 0;
}

.project .titlepage {
     text-align: center;
     padding-bottom: 60px;
}

.project .titlepage h2 {
     color: #fff;
}

.project .titlepage p {
     font-size: 17px;
     line-height: 30px;
     font-weight: 400;
     padding-top: 10px;
     color: #fff;
}

.project .project_box {
     text-align: center;
     margin-bottom: 30px;
}

.project .project_box figure {
     margin: 0;
     position: relative;
     z-index: 999;
}

.project .project_box h3 {
     color: #fff;
     font-size: 30px;
     line-height: 30px;
     font-weight: bold;
     text-transform: uppercase;
     padding: 22px 0px 0px 0px;
}

.margin_top1 {
     margin-top: 87px;
}

.before_top::before {
     position: absolute;
     content: "";
     width: 391px;
     height: 46px;
     top: -20px;
     background: url(../images/pro_after.jpg);
     background-repeat: no-repeat;
     left: -8px;
     right: -8px;
}

.before_bottom::before {
     position: absolute;
     content: "";
     width: 391px;
     height: 46px;
     bottom: 80px;
     background: url(../images/pro_after.jpg);
     background-repeat: no-repeat;
     left: -8px;
     right: -8px;
}

.project .read_more {
     margin-top: 30px;
     margin: 0 auto;
     display: block;
     color: #fff;
     background: transparent;
     padding: 9px 0;
}

.project .read_more:hover {
     background-color: #0F0;
}

.marging_top4 {
     margin-bottom: 20px !important;
}


/** end Our  project section **/


/** testimonial section **/

.testimonial {
     padding: 90px 0 70px 0;
}

.testimonial .titlepage {
     text-align: center;
     padding-bottom: 60px;
}

.testimonial_box p {
     color: #0c0b0b;
     font-size: 17px;
     line-height: 30px;
     display: inline-block;
     font-weight: 400;
     margin-top: 16px;
}

.testimonial_Carousel .carousel-caption {
     position: inherit;
     padding: 0;
}

.testimonial_box {
     text-align: center;
}

.testimonial_box figure {
     margin: 0;
}

#myCarousel .carousel-indicators {
     bottom: -70px;
}

#myCarousel .carousel-indicators li {
     width: 43px;
     height: 11px;
     border-radius: 20px;
     background: #0F0;
     margin: 0 0px 0 0px;
}

#myCarousel .carousel-indicators .active {
     background: #000000;
}

.testimonial_Carousel .carousel-control-next,
.testimonial_Carousel .carousel-control-prev {
     display: none;
}

#myCarousel .carousel-control-prev,
#myCarousel .carousel-control-next {
     display: none;
}


/** end testimonial section **/


/** contact section **/

.contact {
     margin-top: 90px;
     background: #fff;
}

.contact .titlepage {
     text-align: left;
     padding-bottom: 60px;
}

.contact .titlepage h2 {
     color: #fefeff;
}

.con_bg {
     background-color: #0F0;
}

.padding_right2 {
     padding-right: 0;
}

#map {
     height: 100%;
     min-height: 732px;
}

.main_form {
     margin-top: 70px;
     font-family: 'Roboto', sans-serif;
     max-width: 553px;
     width: 100%;
     float: right;
     padding-left: 15px;
}

.main_form .contactus {
     border-bottom: #ffffff solid 1px;
     margin-bottom: 20px;
     width: 100%;
     height: 57px;
     background: transparent;
     color: #ffffff;
     font-size: 18px;
     font-weight: normal;
     border-top: inherit;
     border-left: inherit;
     border-right: inherit;
}

.main_form .contactusmess {
     border-bottom: #ffffff solid 1px;
     margin-bottom: 0;
     width: 100%;
     padding-top: 80px;
     padding-bottom: 14px;
     background: transparent;
     color: #ffffff;
     font-size: 18px;
     font-weight: normal;
     border-top: inherit;
     border-left: inherit;
     border-right: inherit;
}

.send_btn {
     background: #fcc10e;
     font-weight: 500;
     font-size: 18px;
     width: 185px;
     color: #fff;
     height: 56px;
     margin-top: 50px;
     transition: ease-in all 0.2s;
     border-radius: 40px;
}

.send_btn:hover {
     background: #000000;
     transition: ease-in all 0.2s;
}

#request *::placeholder {
     color: #ffffff;
     opacity: 1;
}


/** end contact section **/


/** footer **/

.footer {
     padding-top: 40px;
     text-align: center;
}

.logo2 {
     float: left;
}

.logo__texto {
     color: #fff !important;
     font-size: 1.5rem;
}

.footer h3 {
     color: #fff;
     font-size: 25px;
     line-height: 25px;
     text-align: left;
     padding-bottom: 20px;
     font-weight: 600;
}


.margin_topv {
     margin-top: 60px;
}

.footer p {
     color: #fff;
     line-height: 28px;
     text-align: left;
     padding-right: 60px;
     display: inline-block;
}

ul.use_link li {
     text-align: left;
}

ul.use_link li a {
     color: #fff;
     font-size: 17px;
     padding-bottom: 9px;
}

ul.use_link li.active a {
     color: #fceab4;
}

ul.use_link li a:hover {
     color: #fceab4;
}

ul.location_icon {
     font-family: 'Open Sans', sans-serif;
     text-align: center;
}

ul.location_icon li {
     font-size: 17px;
     color: #fff;
     text-align: left;
     padding: 0px 0px 18px 0px;
     display: flex;
     align-items: center;
     line-height: 26px;
}

ul.location_icon li a {
     font-size: 20px;
     color: #fff;
     line-height: 30px;
     padding-right: 20px;
}

.medios__pago {
     height: 50%;
}


.copyright {
     margin-top: 10px;
     padding-bottom: 10px;
     background: #00000000;
}

.copyright p {
     color: #ffffff;
     font-size: 15px;
     line-height: 10px;
     text-align: center;
     padding-top: 25px;
     font-weight: normal;
     padding-right: 0 !important;
}
.habeas{
     color: #fff;
     margin-top: 15px;
}



/** end footer **/


/** inner page css **/

.blue_bg {
     background-color: #0F0;
     padding: 40px 0;
}

.blue_bg .titlepage {
     text-align: center;
}

.about_page .blue_bg .titlepage h2 {
     color: #fff;
}

.about_page .about .titlepage p {
     margin-top: 0;
}

.about_page .about {
     margin-bottom: 90px;
}

.project_page .blue_bg .titlepage h2 {
     color: #fff;
}

.project_page .project .titlepage p {
     padding-top: 0;
}

.project_page .project {
     margin-bottom: 90px;
}

.contact_page .blue_bg .titlepage h2 {
     color: #fff;
}

.contact_page .contact {
     margin-bottom: 90px;
}

.testimonial_page .blue_bg .titlepage h2 {
     color: #fff;
}

.testimonial_page .testimonial {
     margin-bottom: 90px;
}

.logo-medios-pago {
     width: 100%;
}

.logos img {
     width: 100%;
}

/* Agrega estilos para el efecto de borde */
.numeroDeLaSuerteInput {
     transition: border 0.3s ease-out, box-shadow 0.3s ease-out;
}

.borde-verde {
     border: 1px solid #28a745 !important;
     box-shadow: 0 0 20px rgba(40, 167, 69, 0.5) !important;
}

.btn-formulario {
     display: flex;
     justify-content: center;
     align-items: center;
}

.btn-finCompra {
     color: #000;
     background-color: #0F0;
}

.btn-finCompra:hover {
     background-color: rgb(0, 255, 0);
}

a.btn-success {
     color: #fff !important;
}

.input-otro {
     display: none;
}

.bg-main {
     background-color: #FFA500;
}

.title-rifa-modal {
     color: #000;
     font-size: 1.5rem;
     font-weight: 600;
}
.modal-header.bg-main{
     border-bottom: none !important;
}

div .input-total-numeros {
     border: 0;
     font-weight: 700;
     color: inherit;
}

.btn-btn-principal {
     background-color: #0F0;
     color: #000;
}

.cta-buy {
     width: 50%;
     text-align: center;
}


.btn-pay {
     position: relative;
     background-color: #00FF00;
     color: #000000;
     overflow: hidden;
     transition: color 0.3s ease, background-color 0.3s ease;
     z-index: 1;
}

.btn-pay::before {
     content: '';
     position: absolute;
     top: 100%;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #FFA500;
     transition: top 0.3s ease;
     z-index: -1;
}

.btn-pay:hover::before {
     top: 0;
}

.btn-pay:hover {
     color: #ffffff;
}

.bg-rechazada {
     background-color: rgb(255, 123, 123);
}

.title-por {
     font-size: 3rem;
     display: flex;
     justify-content: center;
     color: #202c2d;
     text-shadow: 0 1px rgb(255, 255, 255), -1px 0 #0f0, -1px 2px #0f0, -2px 1px #0f0, -2px 3px #0f0, -3px 2px #0f0, -3px 4px #0f0, -4px 3px #cdd2d5, -4px 5px #0f0, -5px 4px #0f0, -5px 6px #0f0, -6px 5px #0f0, -6px 7px #0f0, -7px 6px #0f0, -7px 8px #0f0, -8px 7px #0f0;
     color: #202c2d;

}

.rounded-lg-img {
     border-radius: 50%;
     width: 70%;
}

body {
     background-image: url(../images/fondo-fondo.png);
     background-attachment: fixed;
     width: 100%;
}

div.card.m-2.animate__animated.animate__bounceInDown {
     background: none !important;
}

.ir-arriba {
     display: none;
     padding: 20px;
     background-color: #FFA500;
     background-image: url(../images/ir-arriba.png);
     background-repeat: no-repeat;
     background-size: cover;
     cursor: pointer;
     position: fixed;
     bottom: 20px;
     right: 20px;
     z-index: 999;
     border-radius: 50%;
}

p.text-center.mb-0 {
     width: 75%;
     margin: 0 auto;
     font-size: 20px;
}

.card1 {
     background-color: #ffffff;
     width: 100%;
     border-radius: 12px;
     text-align: center;
     max-width: 350px;
     padding: 35px 30px;
     background-color: #ffffff;
     border-radius: 10px;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
     border-radius: 5%;
     -webkit-box-shadow: 1px 3px 4px 5px rgba(0, 255, 0, 0.75);
     -moz-box-shadow: 1px 5px 10px 6px rgba(0, 255, 0, 0.75);
     box-shadow: 1px 3px 4px 5px rgba(0, 255, 0, 0.75);

}

.card1:hover {
     transform: scale(1.05);
     zoom: 1;
}


.card1:hover::before {
     box-shadow: 0 0 20px rgba(0, 255, 0, 1);
     /* Aumentamos el tamaño y la intensidad del resplandor al pasar el mouse */
}

.card1:hover {
     transform: scale(1.05);
}

.promocion h2 {
     font-family: 'Pacifico', cursive;
     font-size: 50px;
     color: #00FF00;
     text-align: center;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
     margin: 20px 0;
     letter-spacing: 2px;
     transform: rotate(-2deg);
     font-weight: bold;

}

.espaciado {
     margin-top: 4%;
}

.contenedor-cards {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     flex-wrap: wrap;
     gap: 50px;
}

.cta-buy {
     width: 100%;
     text-align: center;
     padding-top: 20px;

}

.img-logo img {
     width: 23%;
}

.cta-buy button {
     position: relative;
     padding: 2px 65px;
     border-radius: 20px;
     font-weight: bold;
     font-size: 20px;
     background-color: #00FF00;
     color: #000000;
     overflow: hidden;
     transition: color 0.3s ease, background-color 0.3s ease;
     z-index: 1;
}

.cta-buy button::before {
     content: '';
     position: absolute;
     top: 100%;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #FFA500;
     transition: top 0.3s ease;
     z-index: -1;
}

.cta-buy button:hover::before {
     top: 0;
}

.cta-buy button:hover {
     color: #ffffff;
}

.precio h2 {
     font-size: 40px;
     font-weight: bold;
     line-height: 6px;
}

.titulo-pequeno{
     display: none;
}

.premios-footer{
     display: none;
}


@media screen and (max-width:767px) {
     .direction {
          flex-direction: column-reverse;
     }

     p.text-center.mb-0 {
          width: 100%;
          margin-top: 20px;
     }

     .progress {
          margin-top: 20px;
          margin-bottom: 20px;
     }

     .read_more {
          padding: 0px;
     }

     .btn-formulario button {
          bottom: 2%;
     }

     .contenedor-cards {
          gap: 22px;
     }

     .card1 {
          margin-left: 12px;
          margin-right: 12px;
     }

     .footer p {
          padding-right: 0px;
          text-align: center;
     }

     .footer h3{
          text-align: center;
     }

     .titulo-grande {
          display: none; /* Si el tamaño de la pantalla es menor a 767px, ocultamos el título grande */
        }
      
        .titulo-pequeno {
          display: block; /* Mostramos el título pequeño */
          color: #fff;
          font-size: 30px;
          line-height: 40px;
          font-weight: bold;
          text-transform: uppercase;
          margin-bottom: 10px;
        }
}

@media screen and (max-width:993px) {
     .premios-footer{
          display: block;
     }
     .premios-header{
          display: none;
     }
     img.img-ticket.premios-img-header{
          max-width: 130%;
     }

     .img.img-ticket.premios-img-footer{
          max-width: 120%;
     }

     .parrafo-sobre-imagen {
          position: absolute;
          top: 50%;
          left: 60%;
          transform: translate(-50%, -50%);
          color: rgb(0, 0, 0); /* Color del texto para que sea legible */
          text-align: center; /* Alineación del texto */
          font-weight: 700;
        }
     
     .parrafo-sobre-imagen-footer {
          position: absolute;
          top: 50%;
          left: 60%;
          transform: translate(-50%, -50%);
          color: rgb(0, 0, 0); /* Color del texto para que sea legible */
          text-align: center; /* Alineación del texto */
          font-weight: 700;
          font-size: 15px;
     }  
}

/*footer images premiadas*/
@media screen and (max-width:575px) {
     .parrafo-sobre-imagen-footer {
          position: absolute;
          top: 50%;
          left: 60%;
          transform: translate(-50%, -50%);
          color: rgb(0, 0, 0); /* Color del texto para que sea legible */
          text-align: center; /* Alineación del texto */
          font-weight: 700;
          font-size: 1rem !important;
     }

     .img.img-ticket.premios-img-footer{
          max-width: 10%;
     }

     .relative-footer{
          display: flex;
          max-width: 50%;
          margin-top: 25px;
     }

     .text-bg p{
          margin: 20px;
     }

     .banner_main{
          padding-top: 95 !important;
     }
}

.btn:focus{
     box-shadow: none;
}

/*footer images premiadas*/
@media screen and (max-width:766px) {

     ul.location_icon li {
          font-size: 17px;
          text-align: center;
           display: block;
          margin-top: 10px;
          line-height: 26px;
     }

}

.mercado-pago{
     margin-top: 19px;
    margin-left: 100px;
}